.sponsor-image {
    a {
        width: 100%;
    }
}

.sponsor-image-container {
    display: table;

    > .sponsor-image {
        display: table-cell;
        vertical-align: middle;
    }

    > .sponsor-image,
    > [class*="sponsor-image"] + [class*="sponsor-image"]:last-child {
        @media #{$medium-up} {
            float: none;
        }
    }
}
