#landing {

  .row {  }

  section#splash {
    @include background("../images/background/revuc-background.jpg");
  }

  section#about, section#about-2, section#faq, section#sponsors, section#schedule {
    @include background("../images/background/circuit-bg.jpg");
  }

  section#about-1 {
    @include background("../images/photos/collab-bg.jpg");
  }

  section#about-3 {
    @include background("../images/photos/Hack.jpg");
  }

  section#submissions {
    @include background("../images/photos/expo-bg.jpg");
  }

  section#schedule {
    background: -webkit-linear-gradient(rgba(#313131, 0.75), rgba(#313131, 0.75)), url("../images/photos/students.jpg");
    background: -moz-linear-gradient(rgba(#313131, 0.75), rgba(#313131, 0.75)), url("../images/photos/students.jpg");
    background: linear-gradient(rgba(#313131, 0.75), rgba(#313131, 0.75)), url("../images/photos/students.jpg");

    -webkit-background-size: cover;
       -moz-background-size: cover;
            background-size: cover;

    background-repeat: no-repeat;
    background-position: center center;
  }

  section#registration {
    @include background("../images/photos/expo-bg.jpg");
  }

}
