#schedule {
    color: #fff;

    .schedule-list {
        p {
            font-size: 17px;
            margin: 0;
            margin-bottom: 8px;

            strong {
                font-size: 20px;
            }
            
            a {
                color: $color-red;
            }
        }
    }
}
